<!-- Modal -->
{% load static %}
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col py-2">
                        <img src="{% static 'assets/loading1.svg' %}" id="imageModalLoading" alt="">
                        <img src="" id="imageModal" alt="" hidden>
                    </div>

                    <div class="col py-2" id="descriptionModal">
                        ...
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #B5EAEA;" data-bs-dismiss="modal">Zamknij</button>
                <a id="hrefModal" href="" target="_blank">
                    <button type="button" class="btn" style="background-color: #FFBCBC;">Sprawdź ofertę</button>
                </a>
            </div>
        </div>
    </div>
</div>